.openhouse-gallery {
	background: #ddd;
	border: 1px solid #999;
	padding: 5px;
}

.openhouse-gallery .main-image {
	border: 1px solid #999;
	padding: 3px;
	background: white;
}

.openhouse-gallery ul {
	margin: 0 !important; 
	padding: 0 !important;
	list-style: none;
}

.openhouse-gallery li {
	display: inline-block;
	*display: block;
	*zoom: 1;
	padding: 5px 10px !important;
	border: 1px solid #999;
	border-top: none;
	border-left: none;
	background: white;
	
	cursor: pointer;
}
.openhouse-gallery li:first-child { border-left: 1px solid #999; }

.openhouse-gallery img { 
	display: block;
	box-shadow: inset 0 0 10px red;
}