/* @group General Styles */

.fltlft { float: left; }
.fltrgt { float: right; }

img.fltlft { margin: 0 10px 10px 0; }
img.fltrgt { margin: 0 0 10px 10px; }

.clear { clear: both; }

/* @end */

/* @group Profile */

.profile-picture {
	padding: 1px;
	border: 1px solid #ddd;
}

/* @end */

/* @group Datasets */

dl.data-set {
	
}

dl.data-set dt {
	float: left;
	clear: both;
	
	margin-right: 5px;
	font-weight: bold;
}

dl.data-set dd {
	float: left;
}

/* @end */




/* @group Gallery */
.openhouse-gallery {
	background: #ddd;
	border: 1px solid #999;
	padding: 5px;
}

.openhouse-gallery .main-image {
	border: 1px solid #999;
	padding: 3px;
	background: white;
}

.openhouse-gallery ul {
	margin: 0 !important; 
	padding: 0 !important;
	list-style: none;
}

.openhouse-gallery li {
	display: inline-block;
	*display: block;
	*zoom: 1;
	padding: 5px 10px !important;
	border: 1px solid #999;
	border-top: none;
	border-left: none;
	background: white;
	
	cursor: pointer;
}
.openhouse-gallery li:first-child { border-left: 1px solid #999; }

.openhouse-gallery img { 
	display: block;
}
/* end */



/* keepers */

.field {
	margin: 0 0 1em;
}

.inputfield {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	
	margin: 0;
	padding: 4px 5px 3px;
	
	background: -webkit-linear-gradient(top, white, #ddd 1px,  #fff 10px);
	border: 1px solid #999;
	border-radius: 3px;
	
	font-size: 1.4em;
}