.fltlft { float: left; }
.fltrgt { float: right; }

img.fltlft { margin: 0 10px 10px 0; }
img.fltrgt { margin: 0 0 10px 10px; }

.clear { clear: both; }

.profile-picture {
	padding: 1px;
	border: 1px solid #ddd;
}

dl.data-set {
	
}

dl.data-set dt {
	float: left;
	clear: both;
	
	margin-right: 5px;
	font-weight: bold;
}

dl.data-set dd {
	float: left;
}


.button, button {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	padding: 5px 10px;
	
	background: #ddd;
	color: black;
	border: 1px solid #333;
	border-radius: 3px;
	text-decoration: none;
}

.button:hover, button:hover {
	background-color: #eee;
}

.button a, button a {
	text-decoration: none;
}

.gallery {
	
}

.gallery .current {
	
}

.gallery ul {
	margin: 0;
	padding: 0;
	
	list-style: none;
}

.gallery li {
	display: inline-block;
	*display: block;
	*zoom: 1;
	
	cursor: pointer;
}

.gallery img { display: block; }