/* editor content */
.button, button {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	padding: 0 0 0 13px;
	
	background: url(../images/button.png) no-repeat;
	border: 0; /* fixes borders */
	text-decoration: none;
	cursor: pointer;
	position: relative;
}

.button span, button span {
	display: block;
	padding: 14px 30px 13px 17px;
	
	background: url(../images/button.png) right -45px no-repeat;
	/*	background-image: -webkit-linear-gradient(bottom, #e6e6e6, #fff);*/
	font-weight: bold;
	color: #444;
	text-align: center;
}
.ie7 button span { background: url(../images/button.png) right -47px no-repeat; }

.button:hover, button:hover {
	text-decoration: none;
}

.button.disabled, button.disabled { background-position: left -90px; }
.button.disabled span, button.disabled span {
	background-position: right -135px;
	cursor: default;
}


.button.red, button.red {}
.button.red span, button.red span {
	color: #bf1e2e;
}

.button.plain, button.plain {
	padding: 0;
	background: none;
	font-weight: normal;
	color: #bf1e2e;
}
.button.plain:hover, button.plain:hover { text-decoration: underline; }