/* elements */
body {
	background: url(../images/body-bg.png);
	color: #807f7f;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
}

body > .inner {
	background: url(../images/body-bg2.png) repeat-x;
}

/* Headers (h1, h2, etc) have no default font-size or margin; define those yourself */
h1, h2, h3, h4, h5, h6 {
  	font-weight: bold;
}

h1:first-child, h2:first-child, h3:first-child,
h4:first-child, h5:first-child, h6:first-child {
	margin-top: 0;
}

h1 {
	color: #000;
	font-size: 24px;
}

h2 {
	font-size: 18px;
}

h3 {
	font-size: 16px;
}

h4 {
	font-size: 14px;
}

a, a:active, a:visited {
  color: #bf1e2e;
  text-decoration: none;
}

a:hover {
  color: #bf1e2e;
  text-decoration: underline;
}

iframe { display: block; }

table {
	width: 100%;
}

table.form td {
	padding-bottom: 1em;
}