/* layout */

#wrapper {
	width: 940px;
	padding: 10px;
	margin: 0 auto;
	padding-top: 30px;
}


#header {
	
}

#menu {
	height: 49px;
	margin: 0 -15px;
	padding: 1px 30px 11px;
	position: relative;
	z-index: 2;
	
	background: url(../images/menu-bg.png) no-repeat;
}

#masthead {
	background: teal;	
	margin-bottom: 25px;
	border-radius: 0 0 5px 5px;
	
	min-height: 150px; /* FIXME remove */
}

#body {
	margin: 25px 0 8px;
	padding-bottom: 9px;
	background: url(../images/body-shadow.png) bottom no-repeat;
}

#body > div {
	padding: 3px;
	border-radius: 5px;

	background: #f7f7f7;
	border: 1px solid #d8d8d8;
}
#body > div > div {
	border-radius: 5px;
	background: -webkit-linear-gradient(left, #fff, #fff 700px, #ececec 701px, #fdfdfd 702px, #f8f8f8 703px, #f8f8f8);
	border: 1px solid #e5e5e5;
}

#contents {
	width: 650px;
	margin-top: -11px;
	padding: 15px 25px;
	float: left;
}

#top {
	padding-right: 43px;
}

#messages {
	padding-right: 43px;
}

#component {
	min-height: 40px;
}

#bottom {
	min-height: 20px;
}

#sidebar {
	width: 204px;
	margin: -11px 13px 0;
	float: left;
}

#copyright {
	margin: 8px 0 10px;
}

#copyright a {
	color: #333;
}