/* layout */

#wrapper {
	width: 940px;
	padding: 10px;
	margin: 0 auto;
	padding-top: 30px;
}


#header {
	
}

#menu {
	height: 49px;
	margin: 0 -15px;
	padding: 1px 30px 11px;
	
	background: url(../images/menu-bg.png) no-repeat;
}

#masthead {
	background: teal;	
	margin-bottom: 25px;
	border-radius: 0 0 5px 5px;
	
	min-height: 150px; /* FIXME remove */
}

#body {
	margin: 25px 0 8px;
	padding: 3px;
	border-radius: 5px;

	background: #f7f7f7;
	border: 1px solid #d8d8d8;
}
#body > div {
	border-radius: 5px;
	background: -webkit-linear-gradient(left, #fff, #fff 700px, #ececec 701px, #fdfdfd 702px, #f8f8f8 703px, #f8f8f8);
	border: 1px solid #e5e5e5;
}

#contents {
	width: 700px;
	float: left;
}

#top {
	background: -webkit-linear-gradient(bottom, #e5e5e5, #fff 2px, #f8f8f8 3px, #fff 20px);

	min-height: 70px;
}

#component {
	min-height: 40px;
}

#bottom {
	min-height: 20px;
}

#sidebar {
	width: 223px;
	margin-left: 7px;
	float: left;
	
	height: 40px;
}

#copyright {
	margin: 8px 0 10px;
}

#copyright a {
	color: #333;
}