.moduletable, .module {
}

.moduletable h3, .module h3 {
	margin: 0 0 15px;
	padding-bottom: 22px;
	font-size: 18px;
	color: #7f7f7f;
	font-style: italic;
	background: url(../images/h3-bg.png) bottom no-repeat;
	text-align: center;
}

.moduletable h4, .module h4 {
	margin: 0;
	font-size: 18px;
	color: #807f7f;
}

/* @group popout */
.module.popout {
	margin: 0 -13px 0 -46px;
	padding-bottom: 18px;
	background: url(../images/modules/popup-bg1.png) bottom no-repeat;
}
.module.popout > div {
	padding: 10px 25px 15px;
	background: url(../images/modules/popup-bg2.png) center top no-repeat;
}
/* @end */

/* @group hmenu */
.moduletable.hmenu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.moduletable.hmenu li {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	
	padding: 0 14px;
}

.moduletable.hmenu li > a,
.moduletable.hmenu li > span {
	display: block;
	color: white;
	text-decoration: none;
}
/* @end */

/* @group primary menu */
.moduletable.hmenu.primary li a,
.moduletable.hmenu.primary li span {
	font-size: 14px;
	line-height: 49px;
}

.moduletable.hmenu.primary li:hover,
.moduletable.hmenu.primary li.active {
	background: #e00000;
}
/* @end */
