.moduletable {
}

.moduletable h3 {
}

.moduletable.logo { 
	text-align: center;
}

/* @group hmenu */
.moduletable.hmenu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.moduletable.hmenu li {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	
	padding: 0 14px;
}

.moduletable.hmenu li > a,
.moduletable.hmenu li > span {
	display: block;
	color: white;
	text-decoration: none;
}
/* @end */

/* @group primary menu */
.moduletable.hmenu.primary li a,
.moduletable.hmenu.primary li span {
	font-size: 14px;
	line-height: 49px;
}

.moduletable.hmenu.primary li:hover,
.moduletable.hmenu.primary li.active {
	background: #e00000;
}
/* @end */
