.moduletable, .module {
}

.moduletable h3, .module h3 {
	margin: 0 0 15px;
	padding-bottom: 22px;
	font-size: 18px;
	color: #7f7f7f;
	font-style: italic;
	background: url(../images/h3-bg.png) bottom no-repeat;
	text-align: center;
}

.moduletable h4, .module h4 {
	margin: 0;
	font-size: 18px;
	color: #807f7f;
}

/* @group popout */
.module.popout {
	margin: 0 -13px 0 -38px;
	padding-bottom: 18px;
	background: url(../images/modules/popup-bg1.png) bottom no-repeat;
}
.module.popout > div {
	padding: 10px 25px 15px;
	background: url(../images/modules/popup-bg2.png) center top no-repeat;
}
/* @end */

/* @group hmenu */
.moduletable.hmenu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.moduletable.hmenu li {
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

.moduletable.hmenu li > a,
.moduletable.hmenu li > span {
	display: block;
	color: white;
	text-decoration: none;
	padding: 0 14px;
}

.moduletable.hmenu img {
	margin-bottom: 5px;
	padding: 0 10px 0 0;
	vertical-align: middle;
}
/* @end */

/* @group primary menu */
.moduletable.hmenu.primary li a,
.moduletable.hmenu.primary li span {
	font-size: 14px;
	line-height: 49px;
}

.moduletable.hmenu.primary li:hover,
.moduletable.hmenu.primary li.active {
	background: #eb0000;
	background: url(../images/menu-hover.jpg) no-repeat;
	background-image: -webkit-linear-gradient(bottom, #bd0000, #e40000);
	background-image: -moz-linear-gradient(bottom, #bd0000, #e40000);
	background-image: -o-linear-gradient(bottom, #bd0000, #e40000);
	background-image: -ms-linear-gradient(bottom, #bd0000, #e40000);
	background-image: linear-gradient(bottom, #bd0000, #e40000);
}
/* @end */

/* @group social-links */
.social-links {
	margin: 0;
	padding: 0;
}

.social-links li {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	padding: 10px 0 0 11px;
}
/* @end */

/* @group pagination */
.pagination {
	float: right;
}

.pagination .pages {
	padding: 0;
	text-align: right;
	float: none;
}

.pagination li {
	display: inline-block;
	*display: block;
	*zoom: 1;
	margin-left: 10px;

	background: #f4f4f4;
	border: 1px solid #e5e5e5;
	border-radius: 5px;
}

.pagination li a,
.pagination li span {
	display: inline-block;
	*display: block;
	*zoom: 1;
	padding: 2px 6px;

	color: #000;
	text-decoration: none;
}

.pagination li.active {
	background: #c32c3b;
	border-color: #8c0000;
}

.pagination li .active {
	font-weight: normal;
	color: #fff;
	cursor: default;
}
/* @end */

/* @group module forms */

/* @end */
