/* styles */
.clr, .clear { clear: both; }
.left { float: left; }
.right { float: right; }
.center { text-align: center; }

/* These selection declarations have to be separate
   No text-shadow: twitter.com/miketaylr/status/12228805301
   Also: hot pink! */
/* TODO Update selection BG color */
::-moz-selection {
  background: #FF5E99;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #FF5E99;
  color: #fff;
  text-shadow: none;
}

#system-message {
	margin: 0;
}

dt.notice {
	display: none;
}

dd.notice {
	margin: 0;
	padding: 5px 10px;
}

dd.notice ul {
	margin: 0;
	padding-left: 20px;
}

dd.notice {
	background: rgba(200,0,0, 0.2);
	border: 1px solid rgba(200,0,0, 0.9);
}


.gradient {
	background: -webkit-linear-gradient(bottom, #e5e5e5, #fff 2px, #f8f8f8 3px, #fff 20px);
}

.padded {
	padding: 15px 25px;
}

.bordered {
	padding: 3px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.clearfix { *zoom: 1; *display: block; }
.clearfix:after {
	content: '';
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
